body {
  justify-content: center;
}

h1 {
  font-size: 8rem;
  color: var(--mauve);
  line-height: 0.75;
}

p {
  color: var(--subtext1);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.card a {
  padding: 0.75rem;
}
