body {
  justify-content: center;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  color: var(--mauve);
}

.subtitle {
  color: var(--subtext1);
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.75rem;
}
