body {
  justify-content: center;
}

h1 {
  font-size: 8rem;
  line-height: 0.75;
  color: var(--mauve);
}

p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--subtext1);
}

.card a {
  padding: 0.75rem;
  font-size: 1.25rem;
}
