body {
  justify-content: center;
}

h1 {
  font-size: 15rem;
  margin-bottom: -3rem;
}

p {
  color: var(--subtext1);
  font-size: 1.75rem;
}

a {
  color: var(--blue);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
