/* BasicallyASansSerif */
@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Thick.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyASansSerif";
  src: url("/fonts/bass/woff2/BasicallyASansSerif-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* BasicallyAMono */
@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/bam/woff2/BasicallyAMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
