div.links-container {
  backdrop-filter: blur(2px);
  border: 0.15rem solid var(--mauve);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem auto 2rem;
  padding: 1rem;
  width: max-content;
}

div.links-container a {
  background: var(--surface0);
  border-radius: 0.25rem;
  color: var(--text);
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem;
  text-decoration: none;
}

div.links-container a:hover {
  background: var(--surface1);
  color: var(--blue);
  text-decoration: underline;
}
