div.links-container {
  backdrop-filter: blur(2rem);
  border: 0.1rem solid var(--mauve);
  border-radius: 0.25rem;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.links-container a {
  backdrop-filter: blur(2rem);
  background: var(--surface0);
  border-radius: 0.25rem;
  color: var(--text);
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

div.links-container a:hover {
  background: var(--surface1);
  color: var(--blue);
  text-decoration: underline;
}
