nav {
  align-self: stretch;
  backdrop-filter: blur(2px);
  border: 0.15rem solid var(--mauve);
  border-radius: 0.25rem;
  margin: 1rem;
  padding: 0.75rem;
  text-align: right;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
}
