nav {
  backdrop-filter: blur(2px);
  border: 0.1rem solid var(--mauve);
  border-radius: 0.25rem;
  margin: 1rem;
  padding: 0.75rem;
  text-align: right;
}

nav a {
  color: var(--text);
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--blue);
  text-decoration: underline;
}
