.card a {
  flex: 1 1 15rem;
  max-width: 17.5rem;
  padding: 1.5rem;
}

.card a:hover h2 {
  color: var(--lavender);
  text-decoration: underline;
}

.card a h2 {
  color: var(--text);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card a p {
  color: var(--subtext1);
  font-size: 1rem;
}
