h1 {
  font-weight: 400;
  font-size: 100px;
  margin-top: 0;
}

.center {
  text-align: center;
}

.three-column-container {
  display: flex;
}

.column {
  text-align: center;
  flex: 1;
}

.column table {
  margin: 0 auto;
}

.column ol,
.column ul {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}