* {
	color: green;
}

table {
	width: 90%;
	margin: 30px auto;
	background: #181825;
}

th,
td {
	border: 2px solid #313244;
	padding: 12px 18px;
	text-align: center;
}

th {
	font-weight: 700;
}

#first {
	background: #ffd700;
}

.second {
	background: #c0c0c0;
}

tr {
	background: #202231;
}