@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/bam/woff2/BasicallyAMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

* {
  color: var(--text);
  font-family: "BasicallyAMono", monospace;
  margin: 0;
  text-align: center;
}

body {
  align-items: center;
  background: var(--base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover,
.card a:hover h2,
.card a:hover p {
  color: var(--blue);
}

.card {
  backdrop-filter: blur(2px);
  border: 0.15rem solid var(--mauve);
  border-radius: 0.25rem;
  margin: auto;
  padding: 1rem;
  width: max-content;
}

.grid {
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  display: grid;
}

.card h1 {
  margin-bottom: 1rem;
}

.card a {
  background: var(--surface0);
  border-radius: 0.25rem;
  display: block;
}

.card a:hover {
  background: var(--surface1);
}

#tsparticles {
  position: fixed;
  height: 125vh;
  left: -12.5vw;
  top: -12.5vh;
  width: 125vw;
  z-index: -1;
}
