* {
  text-align: center;
  font-family: sans-serif;
}

body {
  background: #1e1e2e;
}

h1 {
  color: #cdd6f4;
}

h2 {
  color: #bac2de;
}

#tsparticles {
  z-index: -1 !important;
  position: fixed;
}
