@import url("fonts.css");

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

* {
  margin: 0;
  font-family: "BasicallyASansSerif", monospace;
  color: var(--text);
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: var(--base);
}

a {
  text-decoration: none;
}

a:hover,
.card a:hover h2,
.card a:hover p {
  color: var(--blue);
}

.card {
  margin: auto;
  padding: 1rem;
  width: max-content;
  backdrop-filter: blur(2px);
  border: 0.15rem solid var(--mauve);
  border-radius: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.card h1 {
  margin-bottom: 1rem;
}

.card a {
  display: block;
  background: var(--surface0);
  border-radius: 0.25rem;
}

.card a:hover {
  background: var(--surface1);
}

#tsparticles {
  position: fixed;
  top: -12.5vh;
  left: -12.5vw;
  width: 125vw;
  height: 125vh;
  z-index: -1;
}
